In [3]:
import pandas as pd
from sqlalchemy import create_engine

--2023-02-01 11:22:00--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.221.168, 52.217.130.96, 54.231.197.136, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.221.168|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-02-01 11:22:01 (32.1 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [ ]:
df_zones.to_sql(name='