In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

In [73]:
df = pd.read_csv('ny_taxi_postgres_data/yellow_tripdata_2021-01.csv', nrows=100)

In [74]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [75]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi') # % quote_plus("root"))

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

NameError: name 'df' is not defined

While this was all good and well, we want to iteratively ingest all data into our local postgres database.

In [79]:
df_iter = pd.read_csv('ny_taxi_postgres_data/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

Before we ingest all data iteratively, we first want to create a table without ingesting data.

In [80]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [81]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

Now, finally, weâ€™ll right some code to ingest all of the data.

In [8]:
from time import time

In [83]:
while True:
    t_start = time()  # take start time
    
    df = next(df_iter) # take the next chunk of 100.000 rows
    
    # give dates their proper format before ingesting
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append') # instead of replace, we just want to append, because we already create the table above
    
    t_end = time()
    
    print('inserted another chunk of data. it took %.3f seconds.' % (t_end - t_start))

inserted another chunk of data. it took 42.556 seconds.
inserted another chunk of data. it took 32.376 seconds.
inserted another chunk of data. it took 28.070 seconds.
inserted another chunk of data. it took 26.561 seconds.
inserted another chunk of data. it took 28.602 seconds.
inserted another chunk of data. it took 25.076 seconds.
inserted another chunk of data. it took 26.776 seconds.
inserted another chunk of data. it took 32.901 seconds.
inserted another chunk of data. it took 32.304 seconds.
inserted another chunk of data. it took 32.984 seconds.
inserted another chunk of data. it took 29.077 seconds.
inserted another chunk of data. it took 35.090 seconds.

/var/folders/tj/tr4c7pcj4wl3tfjz6gmpw_tm0000gn/T/ipykernel_90609/2360558101.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter) # take the next chunk of 100.000 rows

inserted another chunk of data. it took 31.841 seconds.
inserted another chunk of data. it took 16.452 seconds.

StopIteration:

## Ingest Zones Data

In [1]:
#!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [9]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [10]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
print(pd.io.sql.get_schema(df_zones, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [14]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265